@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
:root{
      
      --dark: #2C2C2C ;
      --white: #F5F5F5 ;
      --jersey10: 'Jersey 10';
}

html,body{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100dvh;
      width: 100dvw;
      background-color: var(--dark);
      margin: 0;
}

h1{
      font-family: var(--jersey10);
      font-size: 3rem;
      color: var(--white);
      text-align: center;
}

.tab-of-card{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5rem;
}

img{
      border-radius: 1rem;
}